body{
  background-color: blue;
}

header{
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  
}

main{
  background-color: aquamarine;
}

footer{
  background-color: brown;
  height: 7em;
}

main section{
  display: flex;
  justify-content: space-evenly;
}

img{
  margin-top: 2em;
}

p{
  max-width: 13em;
  border: black 2px solid;
  max-height: 15%;
  overflow: auto;
  
}

article{
  
  max-height: 37em;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  max-width: 99.5%;
}

button{
  height: 4em;

}

#topper{
  min-width: 84%;
}

article img{

}